body {
    background-color: rgb(226, 236, 236);
}
.container {
    margin: 0;
}
.device-container {
    margin: 1em 0;
    display: flex;
    flex-direction: row;
}
.device-card {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin: 0 0 1em 1em;
    border-radius: 5px;
}
.device-card-details {
    padding: 1em;
    align-items: center;
    text-align: left;
    border-bottom: 1px solid black;
}
.uil {
    font-size: 1.2em;
    padding: 0.5em 0 1em 0;
}

@media screen and (max-width: 768px) {
    .device-container {
        flex-direction: column;
    }
    .device-card {
        max-width: 90%;
    }
}
