#marker {
    cursor: pointer;
}
.mapContainer {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}
.add-device-padding-y {
    padding-top: 4em;
}
@media (max-width: 768px) {
    .add-device-padding-y {
        padding: 1em 0;
    }
}
